{% extends "default_admin.twig" %}


{% block content %}
<h1>Editar Empresa</h1>
        <form action = "admin/stocks/{{ COMPANY['COMPANY_PK'] }}" method="post">
            <div class="form-group">
                <input type="text" name="company_pk"value="{{COMPANY.COMPANY_PK}}" hidden>
                <label for="user_name">Nome</label>
                <input type="text" class="form-control" name="company_name"  value="{{COMPANY.COMPANY_NAME}}" required>
            </div>

            <div class="form-group">
                <label>Informações</label>
                <textarea name="company_info" cols="30" rows="7" class="form-control"required>{{COMPANY.COMPANY_INFO}}	
                </textarea>
            </div>

            <div class="form-group">
                <label for="user_phone">Símbolo</label>
                <input type="text" class="form-control" name="company_symbol"  value="{{COMPANY.COMPANY_SYMBOL}}" required>
            </div>

            <div class="form-group text-right">
            	<input name="action" value = "EDITAR" type="submit" class="btn btn-primary">
            	<input name ="action" value = "REMOVER"type ="submit" class = "btn btn-outline-danger" >
              </div> 
        	</div>
    	</form> 


{% endblock %}