{% extends "default_internal.twig" %}

{% block content %}
<h1>Bem vindo, {{ name }}.</h1>
<div class="row align-items-center mt-5">
    <div class="">
        <h5>PATRIMÔNIO</h5>
        <p class="text-muted">R${{ wallet }}</p>
        <h5>APLICADO</h5>
        <p class="text-muted">R${{ wallet }}</p>
    </div>
    <div class="col-md text-center">
        {% if graph1['wallet'] > 0 or graph1['bought'] > 0 %}
            <div id="dashboard-graph"></div>
        {% else %}
            <div class="p-5">
                Parece que você está sem dinheiro na conta, inicie com um depósito e vamos começar com os investimentos.
            </div>
        {% endif %}
    </div>
</div>
<div class="col-md text-right"> 
    <button type="button"  class="btn btn-success"  data-toggle="modal" data-target="#modal-money">
        <i class="fa fa-hand-holding-usd"></i> Depositar dinheiro
    </button>
</div>
<div class="modal fade"  tabindex="-1"  role="dialog" id="modal-money">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="overflow: auto;">
        <div class="modal-header">
        <h5 class="modal-title">Déposito</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <form method="post" action="internal/wallet" spellcheck="false">
        <div class="form-group">
            <label for="user_wallet">Valor:</label>
            <input type="text" class="form-control" name="user_wallet" id="money" placeholder="1.551,00" required>
        </div>

        <div class="form-group">
            <label for="user_pass">Confirmar senha:</label>
            <input type="password" class="form-control" name="user_pass" placeholder="*******" required>
        </div>
        <div class="form-group text-right">
            <button type="submit" class="btn btn-primary">DEPOSITAR</button> 
        </div>
    </form> 
</div>
</div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $('#money').mask("#.##0,00", {reverse: true});

    var data = [
    {
        values: [
            {% if graph1['wallet'] > 0 %}
            {{ graph1['wallet'] }}, 
            {% endif %}
            {% if graph1['bought'] > 0 %}
            {{ graph1['bought'] }},
            {% endif %}
        ],
        labels: [
        'Valor em Carteira', 'Valor em Ativos'
        ],
        domain: {
            column: 0
        },
        name: 'Carteira',
        hoverinfo: 'label',
        hole: .8,
        type: 'pie'
    }
    ];

    var layout = {
        title: '',
        grid: {
            rows: 1
        },
        showlegend: false,
    };

    Plotly.newPlot('dashboard-graph', data, layout);
</script>
{% endblock %}
