<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Invest</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <base href="{{ base_url }}">

        <link href="assets/img/logo/favicon.ico" rel="shortcut icon" type="image/x-icon">

        <link href="assets/css/theme.css" rel="stylesheet">
        <link href="assets/css/all.min.css" rel="stylesheet">
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/override.css" rel="stylesheet">

        <script src="assets/js/jquery.min.js" defer></script>
        <script src="assets/js/jquery.mask.min.js" defer></script>
        <script src="assets/js/bootstrap.bundle.min.js" defer></script>
    </head>
    <body class="">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href=""><img height="50" src="assets/img/logo/mllr.png" width="125"></a>
       
            <button class="navbar-toggler" data-target="#collapsible-navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="collapsible-navbar">
                <ul class="navbar-nav ml-auto navbar-nav">
                    {% for item, value in navigation_internal %}
                        {% if item == "logout" %}
                        <li class="nav-item">
                            <a href="{{ base_url }}internal{{ value['url'] }}" class="btn btn-outline-dark ml-2">{{ item }} <i class="{{ value['icon']}}"></i> </a>
                        </li>
                        {% else %}
                        <li class="nav-item"><a href="{{ base_url }}internal{{ value['url'] }}" class="btn btn-light mr-2"><i class="{{ value['icon']}}"></i> {{ item }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </nav>

        <section class="container mt-5">
            {% block content %}
            {% endblock %}
        </section>

        
        <script src="https://cdn.plot.ly/plotly-latest.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js" defer></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
