{% extends "default.twig" %}

{% block content %}
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 ">
                <form action="/login" method="POST" class="border p-5 needs-validation " autocomplete="off" novalidate>
                    <h4>ACESSO À PLATAFORMA</h4>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="far fa-user"></i>
                                </div>
                            </div>
                            <input type="text" name="username" class="form-control {{ username_css }}" placeholder="Usuário" value="{{ username }}" required>
                            <div class="invalid-feedback">
                                Por favor, coloque o nome de usuário.
                            </div>
                        </div> 
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">        
                                    <i class="fas fa-lock"></i>
                                </div>
                            </div>
                            <input type="password" class="form-control {{ password_css }}" name="password" placeholder="Senha" value="{{ password }}" required>
                            <div class="invalid-feedback">
                                Por favor, coloque a senha.
                            </div>
                        </div> 
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-9 d-flex align-items-center">
                            <a href="#" class="btn-sm text-muted"><p>Esqueci minha senha</p></a>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <input type="submit" class="form-control btn btn-primary" name="" value="LOGIN">
                            </div>
                        </div>
                    </div>

                    {% if error %}
                    <div class="form-group alert alert-danger">
                        <label>{{ error }}</label>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
{% endblock %}